
 .Header {
  margin-bottom: 60px;
  border-bottom: 1px solid #eee;
  direction: ltr !important;
}

.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 65px;
}
 .Header .menu{
    display: flex;
 }

.Header .menu a {
  margin-left: 12px;
  text-decoration: none;
  color: #000000;
  display: flex;
  align-items: center;
}


.ar-container .Header .menu a{
   direction: rtl;
}

.Header .menu a svg{
  margin: 0px 4px;
}

.Header a.lang-btn{
  background-color: #eee;
  padding: 4px 14px;
  border-radius: 8px;
  transition: .2s;
  cursor: pointer;
 }

 .Header a.lang-btn:hover{
  background-color: #0000ff;
  color: #fff;
 }

.Header .menu a.active {
  color: #0000ff;
}
