.foo-container{
    width: 500px;
    margin: auto;
    background-color: red;
    padding: 16px;
}


.foo-container .input-box{
    background-color: rebeccapurple;
    display: flex;
    gap: 10px;
}

.foo-container .input-box button{
    flex:1
}


.foo-container .input-box input{
    flex:2
}

.foo-container .foo-card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 8px;
    border-radius: 8px;
}
